#achievements {
  h2 {
    margin: 80px 0;
  }

  .data-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-bottom: 80px;

    figure {
      img {
        box-shadow: 0px 2px 15px 1px rgba(13, 60, 72, 0.3);
        border-radius: 10px;
        width: 800px;
        height: 450px;
      }
    }
  }
}
