footer {
  margin-top: auto;
  height: auto;

  .contact-section {
    padding: 60px;
    background-color: #def7f9;

    @media (max-width: 500px) {
      padding: 20px;
    }

    .infos {
      display: flex;
      justify-content: flex-start;
      gap: 30px;
      padding-top: 70px;

      @media (max-width: 500px) {
        gap: 10px;
        padding-top: 40px;
        justify-content: center;
      }

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 20px;

        #my-name {
          font-family: "Playwrite NL", cursive;
          color: #107d98;
        }

        li {
          font-size: 2rem;
          color: #0d3c48;

          @media (max-width: 1280px) {
            font-size: 1.7rem;
          }

          @media (max-width: 768px) {
            font-size: 1.4rem;
          }

          @media (max-width: 500px) {
            font-size: 1rem;
          }
        }
      }
    }
  }

  
}

.bottom-page {
  display: flex;
  justify-content: center;
  padding: 30px;
  height: 20%;
  background-color: #7dcedc;
  font-size: 1.2rem;

  @media (max-width: 500px) {
    font-size: 1rem;
  }
}
