header {
  // position: sticky;
  // top: 0;
  // z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fafdfe;

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  .logo-container {
    img {
      width: 250px;
    }
  }

  nav {
    @media (max-width: 1024px) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
      gap: 50px;

      @media (max-width: 1024px) {
        justify-content: center;
      }

      a {
        text-decoration: none;
        color: #0d3c48;
        font-size: 1.5rem;
        transition: color 0.3s ease;

        @media (max-width: 1280px) {
          font-size: 1.3rem;
        }
      }

      a:hover {
        color: #0797b9;
      }
    }
  }
}
