header {
  // position: sticky;
  // top: 0;
  // z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 40px;
  background-color: #fafdfe;

  .logo-container h2 {
    color: #0d3c48;
    font-size: 3rem;
    font-family: "Playwrite NL", cursive;

    @media (max-width: 1280px) {
      margin-right: 50px;
      font-size: 2.5rem;
    }
  }

  nav {
    @media (max-width: 980px) {
      margin-top: 30px;
      margin-bottom: 20px;
      display: flex;
      width: 100%;
      justify-content: center;
    }
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
      gap: 50px;

      a {
        text-decoration: none;
        color: #0d3c48;
        font-size: 1.5rem;
        transition: color 0.3s ease;

        @media (max-width: 1280px) {
          font-size: 1.3rem;
        }
      }

      a:hover {
        color: #0797b9;
      }
    }
  }
}
